<div class="row">
  <ng-container *ngIf="launches$ | async as launches; else loading">
    <table class="table table-striped table-dark">
      <thead>
        <tr>
          <td></td>
          <td>Name</td>
          <td>Details</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let launch of launches">
          <td>
            <img
              [src]="launch.links.mission_patch"
              title="Mission Patch"
              width="70"
            />
          </td>
          <td>{{ launch.mission_name }}</td>
          <td>{{ launch.details }}</td>
        </tr>
      </tbody>
    </table>
  </ng-container>

  <ng-template #loading>
    <div class="text-center py-4">
      <div class="spinner-border text-light" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <p class="mt-2">Fetching launch data...</p>
    </div>
  </ng-template>
</div>

<hr />

<div class="row">
  <table class="table table-striped table-dark">
    <thead>
      <tr>
        <td></td>
        <td>Name</td>
        <td>Details</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let launch of launches$ | async">
        <td>
          <img
            src="{{ launch.links.mission_patch }}"
            title="Mission Patch"
            width="70"
          />
        </td>
        <td>{{ launch.mission_name }}</td>
        <td>{{ launch.details }}</td>
      </tr>
    </tbody>
  </table>
</div>
